################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LECCIS/.vs/LECCIS/v15/Server/sqlite3
/LECCISAddOwner/bin
/LECCISAddProperty/bin
/LECCISSearch/bin
/LECCISResults/bin
